@model Proyecto_BazarLibreria.Models.Producto

@{
    ViewBag.Title = "Detalles del Producto";
}

<h2>Detalles del Producto</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Código</dt>
        <dd class="col-sm-10">@Model.Codigo</dd>
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>
        <dt class="col-sm-2">Precio</dt>
        <dd class="col-sm-10">@Model.Precio.ToString("C")</dd>
        <dt class="col-sm-2">Disponibilidad</dt>
        <dd class="col-sm-10">@Model.Disponibilidad ? "En stock" : "Agotado"</dd>
        <dt class="col-sm-2">Estado</dt>
        <dd class="col-sm-10">@Model.Estado ? "Activo" : "Inactivo"</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary" })
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Codigo }, new { @class = "btn btn-warning" })
    }
</p>
